[Unit]
Description=ServerStatus Master Server
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home
User=root
Group=root
ExecStart=python /home/client-linux-main.py
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sergate

[Install]
WantedBy=multi-user.target
